<!DOCTYPE html encode="UTF-8">
<html>

<head>
    <title>おららんのうぇぶさいと</title>
    <link rel="icon" href="/images/favicon.ico">
    <meta name="keywords" content="おららん,orarangesite,おららんのウェブサイト,おららんのうぇぶさいと">
    <meta name="description" content="おららんのウェブサイトです！">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4006009538073290"
    crossorigin="anonymous"></script>
    <!--サムネ-->
    <meta property="og:title" content="おららんのうぇぶさいと">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://orarange.com/">
    <meta property="og:site_name" content="おららんのうぇぶさいと">
    <meta property="og:description" content="おららんのウェブサイトです！">

    <!--クローラー関係-->
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="googlebot-news" content="index,follow">
    <meta name="googlebot-image" content="index,follow">
    <meta name="googlebot-video" content="index,follow">
    <meta name="googlebot-mobile" content="index,follow">
    <meta name="googlebot-news" content="index,follow">
    <meta name="googlebot-image" content="index,follow">
    <meta name="googlebot-video" content="index,follow">
    <meta name="googlebot-mobile" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google" content="notranslate">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>おららんのうぇぶさいと</h1>
        <nav>
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="https://discord.gg/9YsQZNbaeY">discord</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section">
            <h2>自己紹介</h2>
            <p>こんにちは。おららんです！js python html系統やってます！discordのbot開発もやってるよ！</p>
        </section>
        <section>
            <section>
                <div>
                    <h2>連絡先</h2>
                    <ul class="sns">
                        <div class="sns twitter">
                            <a href="https://twitter.com/@o_r_a_n_g_e000">
                                <img src="/images/twitter.png" alt="Twitter">
                            </a>
                            <li>Twitter: <a href="https://twitter.com/@o_r_a_n_g_e000">@o_r_a_n_g_e000</a></li>
                        </div>
                        <div class="sns discord">
                            <a href="https://discord.com/">
                                <img src="/images/discord.png" alt="Discord">
                            </a>
                            <li>Discord: oraran</li>
                        </div>
                        <div class="sns youtube">
                            <a href="https://www.youtube.com/channel/UCMEKdXr-1G7xlIHiMs3QIFA">
                                <img src="https://www.youtube.com/s/desktop/932eb6a8/img/favicon_48x48.png"
                                    alt="YouTube">
                            </a>
                            <li>YouTube: <a href="https://www.youtube.com/channel/UCMEKdXr-1G7xlIHiMs3QIFA">おららん</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </section>

    </main>
    <footer>
        <p>Copyright © 2023~ by おららんげちゃん. Proudly created with おららんのうぇぶさいと</p>
        <a href="/privacy">Privacy Policy</a>
        <a href="">Terms of Use</a>
        </p>
    </footer>
</body>

</html>