<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>プライバシーポリシー</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>おららんのうぇぶさいと</h1>
    <nav>
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="https://discord.gg/9YsQZNbaeY">discord</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>1. はじめに</h2>
    <p>当サイトは、利用者のプライバシー保護に最大限の配慮をしています。本プライバシーポリシーは、当サイトの運営者が、当サイトを通じて取得する利用者情報について、どのように利用し、保護するかを明示するものです。</p>

    <h2>2. 取得する情報と利用目的</h2>
    <p>当サイトでは、以下のような利用者情報を取得することがあります。</p>
    <ul>
      <li>氏名、メールアドレス、住所等の個人を特定する情報</li>
      <li>IPアドレス、ブラウザの種類やバージョン、OS等の利用環境に関する情報</li>
      <li>アクセス日時、閲覧したページ、検索キーワード等のアクセスログ情報</li>
    </ul>
    <p>上記の情報は、以下の目的で利用されます。</p>
    <ul>
      <li>当サイトの運営および改善のため</li>
      <li>利用者からのお問い合わせに対する回答のため</li>
      <li>当サイトのサービス提供や情報提供のため</li>
      <li>上記の目的以外で、利用者の同意を得た場合に利用するため</li>
    </ul>

    <h2>3. 情報の共有</h2>
    <p>当サイトは、以下の場合を除いて、利用者情報を第三者に提供することはありません。</p>
    <ul>
      <li>利用者から事前に同意を得た場合</li>
      <li>法令等に基づき開示する必要がある場合</li>
    </ul>

    <h2>4. 情報の管理</h2>
    <p>当サイトは、利用者情報を正確かつ安全に管理するために、適切な措置を講じます。利用者情報への不正アクセス、紛失、破壊、改ざん、漏えい等を防止するための技術的・組織的対策を実施し、適切な管理を行います。</p>
    <h2>5. Cookieの使用</h2>
    <p>当サイトでは、利用者が当サイトを利用する際に、Cookieを使用することがあります。</p>
    <p>Cookieとは、ウェブサイトが利用者のコンピュータに送信する、利用者を識別するための情報です。当サイトでは、以下の目的でCookieを使用します。</p>
    <ul>
      <li>利用者が当サイトを訪れたことを記録し、利用者に合わせたコンテンツを提供するため</li>
      <li>利用者が当サイト内で行ったアクション（例：フォームの入力情報）を記憶して、利用者にとって便利な機能を提供するため</li>
    </ul>
    <p>利用者は、ブラウザの設定によってCookieの受け取りを拒否することができます。ただし、その場合、当サイトの一部の機能が制限される場合があります。</p>
    <h2>6. アクセス解析ツールの利用</h2>
    <p>当サイトでは、Google Analyticsを利用して、アクセス解析を行っています。</p>
    <p>Google Analyticsは、利用者が当サイトを訪れた際のアクセス状況や利用環境等を収集し、当サイトの運営および改善のために利用されます。</p>
    <p>Google Analyticsによって収集される情報は、Cookieを使用して収集されます。なお、Google Analyticsによって収集される情報は、Google社のプライバシーポリシーに基づいて管理されます。</p>
    <h2>7. 免責事項</h2>
    <p>当サイトは、利用者情報の漏えい、紛失、破壊等が発生しないよう最大限の注意を払っていますが、利用者情報の漏えい、紛失、破壊等が発生した場合において、当サイトは一切の責任を負いません。</p>
    <h2>8. プライバシーポリシーの変更について</h2>
    <p>当サイトは、本プライバシーポリシーを随時更新することがあります。本プライバシーポリシーの変更については、当サイト上で掲示することにより、利用者に通知します。</p>
    <footer>
      <p>Copyright © 2023 by おららんげちゃん. Proudly created with おららんのうぇぶさいと</p>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Use</a>
      </p>
    </footer>
</body>

</html>