<!DOCTYPE html>
<html>

<head>
    <title>おららんのうぇぶさいと</title>
    <link rel="icon" href="/images/favicon.ico">
    <meta name="keywords" content="おららん,orarangesite,おららんのウェブサイト,おららんのうぇぶさいと">
    <meta name="description" content="おららんのウェブサイトです！">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4006009538073290"
        crossorigin="anonymous"></script>

    <!--サムネ-->
    <meta property="og:title" content="おららんのうぇぶさいと">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://orarange.com/">
    <meta property="og:site_name" content="おららんのうぇぶさいと">
    <meta property="og:description" content="おららんのウェブサイトです！">

    <!--クローラー関係-->
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="googlebot-news" content="index,follow">
    <meta name="googlebot-image" content="index,follow">
    <meta name="googlebot-video" content="index,follow">
    <meta name="googlebot-mobile" content="index,follow">
    <meta name="googlebot-news" content="index,follow">
    <meta name="googlebot-image" content="index,follow">
    <meta name="googlebot-video" content="index,follow">
    <meta name="googlebot-mobile" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google" content="notranslate">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>おららんのうぇぶさいと</h1>
        <nav>
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="https://discord.gg/9YsQZNbaeY">discord</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
        </section>
        <section>
            <section>
            </section>
        </section>
    </main>
    <footer>
        <p>Copyright © 2023~ by おららんげちゃん. Proudly created with おららんのうぇぶさいと</p>
        <a href="/privacy">Privacy Policy</a>
        <a href="#">Terms of Use</a>
        </p>
    </footer>
</body>

</html>