/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */
body {
    background-image: url(MINECRAFT_SERVER_1.png);
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #f8f8f8;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 7% auto;
	padding: 20px;
	padding-top: 100px;
}

main .section {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

section:last-of-type {
	border-bottom: none;
}

/* liの箇条点をアイコンに変更する */
.sns {
    margin-left: 15%;
    list-style: none;
}

.sns div{
    display: flex;
    text-align: left;
}

.sns li {
    margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
}

input, textarea {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

/* フッターは画面最下部に固定 */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}